extends layouts/layout

block head
  link(rel="stylesheet", href="/css/index.css")
  script(src="/lib/twemoji.min.js") 
  script(src="/js/index.js")

block content
  .content
    h1 Work In Progress
    h2 Thanks for coming by, this website is being made to show off my best projects, come back later! 
      span.emojis ❤ ❤
    img(src="/img/wip.jpg", alt="Work In Progress")
