extends layouts/layout

block head
  link(rel="stylesheet", href="/css/index.css")
  script(src="/lib/twemoji.min.js") 
  script(src="/js/index.js")

block content
  .content
    h1 Work In Progress
    h2 Thanks for coming by, this website is being made to show off my best projects, come back later!
      span.emojis ❤ ❤
    h3 Since you're here, take a look at my social networks if you want to get to know me!
      div.socials
        a(href='https://github.com/KuryKat')
          img(src='https://img.shields.io/badge/-@KuryKat-8b0000?style=flat-square&labelColor=8b0000&logo=github&logoColor=white' alt='GitHub Bagde')
        a(href='https://www.linkedin.com/in/kurykat/')
          img(src='https://img.shields.io/badge/-@KuryKat-8b0000?style=flat-square&labelColor=8b0000&logo=linkedin&logoColor=white' alt='LinkedIn Badge')
        a(href='https://twitter.com/intent/follow?screen_name=KuryKat')
          img(src='https://img.shields.io/badge/-@KuryKat-8b0000?style=flat-square&labelColor=8b0000&logo=twitter&logoColor=white&link=https://twitter.com/intent/follow?screen_name=KuryKat' alt='Twitter Badge')
        a(href='https://instagram.com/KuryKat')
          img(src='https://img.shields.io/badge/-@KuryKat-8b0000?style=flat-square&labelColor=8b0000&logo=instagram&logoColor=white&link=https://instagram.com/KuryKat' alt='Instagram Badge')
        a(href='mailto:contactkurykat@gmail.com')
          img(src='https://img.shields.io/badge/-contactkurykat@gmail.com-8b0000?style=flat-square&labelColor=8b0000&logo=Gmail&logoColor=white&link=mailto:contactkurykat@gmail.com' alt='Gmail Badge')
        a(href='https://discord.com/users/367425061122211843')
          img(src='https://img.shields.io/badge/-@KuryKat%237872-8b0000?style=flat-square&labelColor=8b0000&logo=discord&logoColor=white' alt='Discord Badge')
    img(src="/img/wip.jpg", alt="Work In Progress")
